In [1]:
my_list = ['Sandra', 'Joe', 'John']
my_list.append('Ejike')
print(my_list)

['Sandra', 'Joe', 'John', 'Ejike']

In [2]:
my_list.insert(1,'Morayo')
print(my_list)

['Sandra', 'Morayo', 'Joe', 'John', 'Ejike']

In [3]:
my_list.remove('Joe')
print(my_list)

['Sandra', 'Morayo', 'John', 'Ejike']

In [4]:
class_a = my_list.copy()
print(class_a)

['Sandra', 'Morayo', 'John', 'Ejike']

In [6]:
class_b = ['Toyin', 'Esther', 'Sam', 'Anu']
class_a.extend(class_b)
print(class_a)

['Sandra', 'Morayo', 'John', 'Ejike', 'Toyin', 'Esther', 'Sam', 'Anu']

In [7]:
class_a.sort()
print(class_a)

['Anu', 'Ejike', 'Esther', 'John', 'Morayo', 'Sam', 'Sandra', 'Toyin']

In [8]:
class_a.reverse()
print(class_a)

['Toyin', 'Sandra', 'Sam', 'Morayo', 'John', 'Esther', 'Ejike', 'Anu']

In [9]:
class_a.append('John')
print(class_a)

['Toyin', 'Sandra', 'Sam', 'Morayo', 'John', 'Esther', 'Ejike', 'Anu', 'John']

In [10]:
name_count = class_a.count('John')
print(name_count)

2

In [11]:
for name in class_a:
    print(name, 'count =', class_a.count(name))

Toyin count = 1
Sandra count = 1
Sam count = 1
Morayo count = 1
John count = 2
Esther count = 1
Ejike count = 1
Anu count = 1
John count = 2

In [12]:
for name in class_a:
    if class_a.count(name) > 1:
        class_a.remove(name)
print(name, 'count =', class_a.count(name))

John count = 1

In [17]:
for name in class_a:
    if class_a.count(name) > 1:
        class_a.remove(name)
print(class_a)

['Toyin', 'Sandra', 'Sam', 'Morayo', 'Esther', 'Ejike', 'Anu', 'John']

In [20]:
check_list = []
class_a.insert(4, 'John') # so because in trying to run this with the mistakes 3 times 
                        #(notice In [20] from the previous In [17], i now have a total of 4 John's)
print(class_a)
for name in class_a:
    if name not in check_list:
        check_list.append(name)
        print(name, 'count =', class_a.count(name))

['Toyin', 'Sandra', 'Sam', 'Morayo', 'John', 'John', 'John', 'Esther', 'Ejike', 'Anu', 'John']
Toyin count = 1
Sandra count = 1
Sam count = 1
Morayo count = 1
John count = 4
Esther count = 1
Ejike count = 1
Anu count = 1

In [23]:
check_list = []
class_a.remove('John') # so after adding remove John, I ran it 2 times to reduce John to 2
print(class_a)
for name in class_a:
    if name not in check_list:
        check_list.append(name)
        print(name, 'count =', class_a.count(name))

['Toyin', 'Sandra', 'Sam', 'Morayo', 'John', 'Esther', 'Ejike', 'Anu', 'John']
Toyin count = 1
Sandra count = 1
Sam count = 1
Morayo count = 1
John count = 2
Esther count = 1
Ejike count = 1
Anu count = 1