In [8]:
# Using built-in functions
number_range = range(10)
for i in number_range:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
number_range_with_step = range(20, 2)
for i in number_range_with_step:
    print(i)
    i

In [15]:
b = 'Tunde'
reversed_b = reversed(b)
print(reversed_b)

<reversed object at 0x000001E1873FE790>

In [16]:
number_range = range(2,22,2)
for i in number_range:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [27]:
# list
sam = [20,30,40,35]
print(sam)
sam_max_score = max(sam)
print("Sam max score is" + str(sam_max_score))
sam_min_score = min(sam)
print("Sam min score is" + str(sam_min_score))

[20, 30, 40, 35]
Sam max score is40
Sam min score is20

In [29]:
# list
sam = [20,30,40,35]
print(sam)
sam_max_score = max(sam)
print("\nSam max score is " + str(sam_max_score))
sam_min_score = min(sam)
print("\nSam min score is " + str(sam_min_score))
sam_sum_score = sum(sam)
print("\nSam's total score is " + str(sam_sum_score))

[20, 30, 40, 35]

Sam max score is 40

Sam min score is 20

Sam's total score is 125

In [30]:
# list
sam = [20,30,40,35]
print(sam)
sam_max_score = max(sam)
print("\nSam max score is " + str(sam_max_score))

sam_min_score = min(sam)
print("\nSam min score is " + str(sam_min_score))

sam_sum_score = sum(sam)
print("\nSam's total score is " + str(sam_sum_score))

no_of_subjects = len(sam)
print("\nNumber of Subjects take by Sam is " + str(no_of_subjects))

[20, 30, 40, 35]

Sam max score is 40

Sam min score is 20

Sam's total score is 125

Number of Subjects take by Sam is 4

In [40]:
# Common Built-in String Functions

text_a = "Hello World"
text_a_lowercase = text_a.lower() #--> returns the lowercase variant of the string
print("\ntext_a_lowercase")


text_a_uppercase = text_a.upper()#--> returns the uppercase variant of the string
print("\ntext_a_uppercase")

text_a_caseswap = text_a.swapcase()
print(text_a_caseswap)
type(text_a_caseswap)

text_a_lowercase

text_a_uppercase
hELLO wORLD

str

In [42]:
# Common Built-in String Functions

text_a = "Hello World"
text_a_lowercase = text_a.lower() #--> returns the lowercase variant of the string
print("\ntext_a_lowercase")


text_a_uppercase = text_a.upper()#--> returns the uppercase variant of the string
print("\ntext_a_uppercase")

text_a_caseswap = text_a.swapcase()
print(text_a_caseswap)
type(text_a_caseswap)

text_b = "Morayo-Ejike-Anuoluwa-Esther-Toyin"
print(type(text_b))

split_text_b = text_b.split('-')
print(type(split_text_b))
print(split_text_b)

text_a_lowercase

text_a_uppercase
hELLO wORLD
<class 'str'>
<class 'list'>
['Morayo', 'Ejike', 'Anuoluwa', 'Esther', 'Toyin']

In [48]:
# Common Built-in String Functions

text_a = "Hello World"
text_a_lowercase = text_a.lower() #--> returns the lowercase variant of the string
print("\ntext_a_lowercase")


text_a_uppercase = text_a.upper()#--> returns the uppercase variant of the string
print("\ntext_a_uppercase")

text_a_caseswap = text_a.swapcase()
print(text_a_caseswap)
type(text_a_caseswap)

text_b = "Morayo-Ejike-Anuoluwa-Esther-Toyin"
print(type(text_b))
print(text_b)

#spliting a string into a list
split_text_b = text_b.split('-')
print(type(split_text_b))
print(split_text_b)

#converting a list to string using join function
joined_text_b = " ".join(split_text_b)
print(type(joined_text_b))
print(joined_text_b)

text_a_lowercase

text_a_uppercase
hELLO wORLD
<class 'str'>
Morayo-Ejike-Anuoluwa-Esther-Toyin
<class 'list'>
['Morayo', 'Ejike', 'Anuoluwa', 'Esther', 'Toyin']
<class 'str'>
Morayo Ejike Anuoluwa Esther Toyin

In [49]:
# Common Built-in String Functions

text_a = "Hello World"
text_a_lowercase = text_a.lower() #--> returns the lowercase variant of the string
print("\ntext_a_lowercase")


text_a_uppercase = text_a.upper()#--> returns the uppercase variant of the string
print("\ntext_a_uppercase")

text_a_caseswap = text_a.swapcase()
print(text_a_caseswap)
type(text_a_caseswap)

text_b = "Morayo-Ejike-Anuoluwa-Esther-Toyin"
print(type(text_b))
print(text_b)

#spliting a string into a list
split_text_b = text_b.split('-')
print(type(split_text_b))
print(split_text_b)

#converting a list to string using join function
joined_text_b = " ".join(split_text_b)
print(type(joined_text_b))
print(joined_text_b)

#Using the replace function
replace_text_b = text_b.replace('-', ', ')
print(replace_text_b)

text_a_lowercase

text_a_uppercase
hELLO wORLD
<class 'str'>
Morayo-Ejike-Anuoluwa-Esther-Toyin
<class 'list'>
['Morayo', 'Ejike', 'Anuoluwa', 'Esther', 'Toyin']
<class 'str'>
Morayo Ejike Anuoluwa Esther Toyin
Morayo, Ejike, Anuoluwa, Esther, Toyin

In [50]:
#Using what you learnt;
# format the follwoing text

# text_c = "Door Window; Watch Clock: Laptop Desktop"

# Result = Door Window - Watch Clock - Laptop Desktop

In [55]:
text_c = "Door Window; Watch Clock: Laptop Desktop"

transformed_text_c = text_c.replace(';', ' - ')
print(transformed_text_c)

Door Window -  Watch Clock: Laptop Desktop